@import "vars";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-repeat: no-repeat;
	background: white;
	color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'PT Serif', serif;
	color: black;
}

header {
	background: #919191;
	position: sticky;
	top: 0;
	z-index: 100;
}

.navbar-collapse {
	justify-content: end;
}

.navbar-light {
	.navbar-nav {
		.nav-link {
			color: white;
			font-size: 1.4rem;
			margin: 0px 20px;

			&:hover {
				color: red;
			}
		}
	}
}

footer {
	background-color: #919191;
	padding: 5px;
	width: 100%;
	bottom: 0%;

	ul {
		display: flex;
		justify-content: space-around;

		li {
			list-style: none;

			a {
				color: white;
				font-size: 2.5rem;

				&:hover {
					color: #727272;
				}
			}
		}
	}
}

.footer__dos {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 1rem;
	background-color: #727272;
	color: white;
	padding: 5px;
	width: 100%;
	bottom: 0%;
}

/* ------------------------ INDEX ------------------------*/
.main-section {
	margin: 30px 30px 20px 30px;
}

.collapse .navbar-collapse {
	height: 60vh;
}

.index__container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 150px;
}

.index__item {
	font-family: 'Times New Roman', Times, serif;
	font-weight: 400;
	font-size: 21px;
}

.video {
	margin: 80px;
	width: 300px;
	height: 300px;
}

.img__nacional {
	margin: 80px;
	width: 300px;
	height: 300px;
}

/*---------------------------EMPRESA----------------------------*/

.empresa__container {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.empresa__item {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-family: "Times New Roman";
	margin: 60px 30px 60px 30px;
	line-height: 2;

	.empresa__parrafo {
		color: black;
		font-style: italic;
		text-align: left;
	}

	.negrita {
		text-transform: uppercase;
		color: black;
	}
}

.empresa__item__dos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 15px;
}

.emp1 {
	width: 630px;
	height: 400px;
	margin: 170px 0px 0px 0px;
	grid-column: 1 /span 3;
	grid-row: 1/2;
}

.emp2 {
	width: 200px;
	height: 150px;
	grid-column: 1/2;
	grid-row: 2/3;

}

.emp3 {
	width: 200px;
	height: 150px;
	grid-column: 2/3;
	grid-row: 2/3;
}

.emp4 {
	width: 200px;
	height: 150px;
	grid-column: 3/4;
	grid-row: 2/3;
}


/*-------------------------CERTIFICACION--------------------------*/

.certificacion__container {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.certificacion {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	margin: 60px 30px 60px 30px;
	line-height: 2;

	.certificacion__parrafo {
		color: black;
		font-style: italic;
		text-align: left;
	}
}

.imagen__certificado {
	width: 500px;
	height: 500px;
	padding: 0;
	margin: 60px 30px;
}

/*----------------------------EXPORTACION---------------------*/

.exportacion__container {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.exportacion {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	margin: 60px 30px;
	line-height: 2;

	.exportacion__parrafo {
		color: black;
		font-family: "Times New Roman", Times, serif;
		text-align: left;
	}
}

.img__exp {
	margin: 100px;
}

.distribuidor__container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin: 30px;
	gap: 25px;
	font-size: 12px;

}

ul {
	list-style: none;
	margin-top: 10px;

}

.distribuidor__container__arg:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.distribuidor__container__bol:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.distribuidor__container__br:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.distribuidor__container__chi:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.distribuidor__container__ecu:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.distribuidor__container__mex:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.distribuidor__container__par:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.distribuidor__container__uru:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.distribuidor__container__ven:hover {
	color: white;
	background-color: rgba(255, 0, 0, 0.658);
	border-radius: 10%;
}

.distribuidor__container__eu:hover {
	background-color: rgba(255, 0, 0, 0.658);
	color: white;
	border-radius: 10%;
}

.bandera {
	margin: 8px 30px;
	height: 70px;
	width: 70px;
}

.nombre {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}



/* -------------------------CATALOGO-------------------------*/

.catalogo__container {
	width: 90%;
	margin: 50px 30px;
	display: grid;
	grid-gap: 60px;
	grid-row-gap: 150px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	text-align: center;

	p {
		font-size: 23px;
		margin: 30px;
		padding: 20px;

		&:hover {
			transform: scale(1.05);
			opacity: 0.8;
		}
	}
}

.img1 {
	width: 450px;
	height: 650px;
}

.img2 {
	width: 450px;
	height: 650px;
}

.img3 {
	width: 450px;
	height: 650px;
}



/*---------------------CONTACTO----------------------*/

.form-register {
	width: 800px;
	background: #5c5e5f;
	padding: 30px;
	margin: 100px auto;
	border-radius: 4px;
	font-family: "calibri";
	color: white;
	box-shadow: 7px 13px 37px #000;

	h4 {
		color: white;
		font-size: 22px;
		margin-bottom: 20px;
	}

	a {
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}

	.botons {
		width: 100%;
		background: #e4e7e7;
		border: none;
		padding: 12px;
		color: black;
		margin: 16px 0;
		font-size: 16px;
	}
}

.controls {
	width: 100%;
	background: #807878;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid white;
	font-family: "calibri";
	font-size: 18px;
	color: white;
}

::placeholder {
	color: white;
	opacity: 0.8;
}

input {
	&:focus {
		background: rgb(202, 199, 202);
		transition: all 2s;
	}
}

textarea {
	&:focus {
		background: rgb(202, 199, 202);
		transition: all 2s;
	}
}

.botons {
	&:hover {
		background: rgb(202, 199, 202);
	}
}

.mapa {
	display: flex;
	margin: 30px;
	z-index: 1;
	border: 3px solid gray;
}

/*-----------------MEDIA QUERIE-------------------*/

@media only screen and (max-width: 991px) {
	footer {
		font-size: 1rem;
	}

	/*inicio*/

	.galeria__container {
		padding: 100px 0px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);

		.galeria__imagen {
			width: 350px;
			height: 350px;
		}
	}

	.index__container {
		flex-direction: column;
		align-items: center;
	}

	/*empresa*/

	.empresa__container {
		flex-direction: column;
		align-items: center;
	}

	/*certificacion*/

	.certificacion__container {
		flex-direction: column;
		align-items: center;
	}

	/*exportacion*/

	.exportacion__container {
		flex-direction: column;
		align-items: center;
	}

	.distribuidor__container {
		flex-direction: column;
		justify-items: center;
		padding: 0px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	/*catalogo*/

	.catalogo__container {
		flex-direction: column;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);

		p {
			font-size: 1.5rem;
		}

		.img1 {
			width: 350px;
			height: 350px;
		}

		.img2 {
			width: 350px;
			height: 350px;
		}

		.img3 {
			width: 350px;
			height: 350px;
		}
	}
}

/*----------------------------------------------------------------------------*/

@media only screen and (max-width: 479px) {
	footer {
		font-size: 1rem;
	}

	.video {
		width: 200px;
		height: 200px;
	}

	.img__nacional {
		width: 200px;
		height: 200px;
	}

	.img1 {
		width: 200px;
		height: 200px;
	}

	.img2 {
		width: 200px;
		height: 200px;
	}

	.img3 {
		width: 200px;
		height: 200px;
	}

	.imagen__certificado {
		width: 200px;
		height: 300px;
	}

	/*catalogo*/

	.catalogo__container {
		flex-direction: column;
		justify-items: center;
		padding: 0px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}

	.catalogo__container p {
		font-size: 25px;
	}

	.catalogo__imagen {
		width: 350px;
		height: 350px;
	}

	/*exportacion*/

	.distribuidor__container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(5, 1fr);
		margin: 30px;
		gap: 10px;
		font-size: 12px;

		li {
			list-style: none;
		}
	}

	/*contacto*/

	.form-register {
		width: 350px;
	}
}